.text {
  text-align: left;
  /* padding: 0px 5px 0px 0px; */
}

.text__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 15px 0;
  white-space: pre-line;
  word-break: break-all;
}

.text__hometext {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 5px 0;
  white-space: pre-line;
  word-break: break-all;
}
